
h1{
    background-color: rgb(219, 18, 18);
  text-align: center;
  padding: 20px;
}

p{
    text-align: center;
  padding: 10px;
  background-color: rgb(107, 96, 96);
}

.container{
    background-color: rgb(131, 181, 228);
    text-align: center;
    padding-bottom: 30%;
    width: 100%;
   
}
